body {
  font-family: "Poppins", sans-serif; }

.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px; }

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px; }

.no-left-padding {
  padding-left: 0px; }

.no-right-padding {
  padding-right: 0px; }

a.readmore {
  display: block;
  padding-left: 20px;
  color: #000037;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  width: 160px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  a.readmore:before {
    position: absolute;
    content: "";
    left: 0;
    top: 12px;
    background: #f1592a;
    width: 15px;
    height: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  a.readmore:hover:before {
    width: 100%; }

section.empty {
  width: 100%;
  height: 100px; }

.heading-area h1 {
  font-size: 50px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: 600; }

header nav {
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02); }
  header nav a.navbar-brand h3 {
    color: #000037;
    font-weight: 700; }
    header nav a.navbar-brand h3 span {
      color: #f1592a; }
  header nav .collapse ul li a {
    color: #000037 !important;
    font-weight: 400;
    margin: 0px 10px !important; }

section.intro {
  padding-top: 200px;
  padding-bottom: 150px; }
  section.intro .intro-left-area .heading-mini h3 {
    font-size: 50px;
    color: #000037; }
    section.intro .intro-left-area .heading-mini h3 span {
      color: #f1592a; }
  section.intro .intro-left-area .heading-moto h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 105px;
    margin-top: 20px;
    color: #000000; }
  section.intro .intro-left-area .intro-text p {
    font-size: 20px;
    text-align: justify;
    color: #000037;
    margin-top: 30px; }
  section.intro .intro-right-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 355px; }
    section.intro .intro-right-area .design-and-develop {
      width: 50%;
      height: 240px;
      position: relative;
      z-index: 11;
      background: #fff;
      -webkit-box-shadow: 0px 0px 30px rgba(224, 219, 219, 0.25098);
      box-shadow: 0px 0px 30px rgba(224, 219, 219, 0.25098);
      padding: 30px; }
      section.intro .intro-right-area .design-and-develop a {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #000037;
        font-size: 26px;
        display: block;
        text-decoration: none;
        line-height: 30px; }
    section.intro .intro-right-area .digital-marketing {
      width: 50%;
      height: 240px;
      position: relative;
      z-index: 11;
      background: #f6f6f6;
      -webkit-box-shadow: 0px 0px 30px rgba(224, 219, 219, 0.25098);
      box-shadow: 0px 0px 30px rgba(224, 219, 219, 0.25098);
      padding: 30px;
      margin-left: -40px;
      z-index: 111; }
      section.intro .intro-right-area .digital-marketing a {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #f1592a;
        text-decoration: none;
        font-size: 26px;
        display: block;
        line-height: 30px; }

section.about-us .about-us-top {
  margin-bottom: 100px;
  margin-top: 45px !important; }
  section.about-us .about-us-top .icon-area img {
    max-width: 150px;
    width: 100%;
    margin-bottom: 30px; }
  section.about-us .about-us-top .text-area h3 {
    color: #000037;
    font-weight: 600;
    margin-bottom: 30px; }
  section.about-us .about-us-top .text-area p {
    color: #000037;
    max-width: 450px;
    width: 100%;
    text-align: justify; }
  section.about-us .about-us-top .text-area a {
    max-width: 120px; }

section.about-us .about-us-img-area {
  width: 100%;
  height: 450px; }
  section.about-us .about-us-img-area img {
    width: 100%; }

section.about-us .about-us-right-content {
  padding: 140px 0px; }
  section.about-us .about-us-right-content h3 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    font-weight: 600; }
  section.about-us .about-us-right-content a {
    display: block;
    padding-left: 20px;
    color: #000037;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    width: 160px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    section.about-us .about-us-right-content a:before {
      position: absolute;
      content: "";
      left: 0;
      top: 12px;
      background: #f1592a;
      width: 15px;
      height: 4px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
    section.about-us .about-us-right-content a:hover:before {
      width: 100%; }

section.why-us .why-us-main {
  padding: 85px 0px;
  background: #f8f8f8;
  margin-bottom: 50px;
  margin-top: 60px; }
  section.why-us .why-us-main .why-us-single-content {
    position: relative; }
    section.why-us .why-us-main .why-us-single-content h2 {
      font-size: 40px;
      color: #000037;
      font-weight: 700; }
    section.why-us .why-us-main .why-us-single-content p {
      color: #000037;
      font-size: 18px;
      max-width: 250px;
      width: 100%;
      margin: 25px 0px;
      text-align: justify; }

section.how-we-work-area .how-we-work-main {
  margin-bottom: 50px;
  margin-top: 80px; }
  section.how-we-work-area .how-we-work-main .how-we-work-single-content {
    position: relative;
    max-width: 45%;
    width: 100%;
    padding: 30px;
    background: #f8f8f8;
    -webkit-box-shadow: 0px 0px 40px 3px rgba(156, 148, 148, 0.07);
    box-shadow: 0px 0px 40px 3px rgba(156, 148, 148, 0.07); }
    section.how-we-work-area .how-we-work-main .how-we-work-single-content .direction {
      position: absolute;
      width: auto;
      right: -100px;
      -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
      transform: rotate(50deg);
      margin-top: 25px; }
  section.how-we-work-area .how-we-work-main .content-2 {
    float: right;
    margin-top: -60px; }
  section.how-we-work-area .how-we-work-main .content-3 {
    margin-top: 120px;
    float: left; }
    section.how-we-work-area .how-we-work-main .content-3 .direction {
      -webkit-transform: rotate(-160deg);
      -ms-transform: rotate(-160deg);
      transform: rotate(-160deg);
      margin-top: 80px; }

section.team .team-text p {
  font-size: 28px;
  color: #000037;
  margin-bottom: 30px;
  text-align: justify;
  max-width: 70%;
  width: 100%;
  margin-bottom: 40px; }

section.team .team-single-content {
  margin-bottom: 30px;
  width: 100%;
  height: 450px;
  position: relative; }
  section.team .team-single-content ul {
    list-style: none;
    padding-left: 0px;
    position: absolute;
    top: 110px;
    left: 0;
    overflow: hidden; }
    section.team .team-single-content ul li {
      padding-bottom: 10px;
      -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
      transform: translateX(-50px);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      section.team .team-single-content ul li a {
        width: 40px;
        height: 40px;
        background: #fff;
        display: block;
        text-align: center; }
        section.team .team-single-content ul li a i {
          color: #f1592a;
          padding-top: 9px;
          font-size: 20px; }
      section.team .team-single-content ul li:nth-child(2) {
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
      section.team .team-single-content ul li:nth-child(3) {
        -webkit-transition: .7s;
        -o-transition: .7s;
        transition: .7s; }
  section.team .team-single-content .team-details {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 251, 251, 0)), to(rgba(6, 6, 4, 0.25)));
    background-image: -webkit-linear-gradient(top, rgba(255, 251, 251, 0), rgba(6, 6, 4, 0.25));
    background-image: -o-linear-gradient(top, rgba(255, 251, 251, 0), rgba(6, 6, 4, 0.25));
    background-image: linear-gradient(to bottom, rgba(255, 251, 251, 0), rgba(6, 6, 4, 0.25));
    width: 100%;
    z-index: 1; }
    section.team .team-single-content .team-details h3 {
      font-size: 1.75rem;
      color: #f1592a;
      font-weight: 700; }
  section.team .team-single-content:hover ul li {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }

section.talk-to-us {
  padding: 60px 0px;
  background: #f8f8f8; }
  section.talk-to-us form .form-group {
    margin-bottom: 30px; }
    section.talk-to-us form .form-group label {
      color: #000037; }
    section.talk-to-us form .form-group .form-control {
      border-radius: 0px !important;
      border-color: #000037 !important;
      height: 45px; }
    section.talk-to-us form .form-group textarea {
      height: auto !important; }
  section.talk-to-us .footer {
    padding-top: 60px; }
    section.talk-to-us .footer .footer-main .logo-area h3 {
      font-weight: 700;
      color: #000037; }
      section.talk-to-us .footer .footer-main .logo-area h3 span {
        color: #f1592a; }
    section.talk-to-us .footer .footer-main .logo-area ul {
      list-style: none;
      margin-top: 30px;
      padding-left: 0px; }
      section.talk-to-us .footer .footer-main .logo-area ul li {
        display: inline-block;
        padding-right: 20px; }
        section.talk-to-us .footer .footer-main .logo-area ul li i {
          font-size: 20px;
          color: #f1592a; }
    section.talk-to-us .footer .footer-main .navigation ul {
      list-style: none; }
      section.talk-to-us .footer .footer-main .navigation ul li {
        padding-bottom: 10px; }
        section.talk-to-us .footer .footer-main .navigation ul li a {
          text-decoration: none;
          color: #000037; }
